<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>메타버스 스터디룸 예약 시스템 입니다!! (스터디룸 선택)</h1>
    <div>
        <form action="doreserve" method="get">
        <button value="1" name="roomNum">Study Room 1</button>
        <button value="2" name="roomNum">Study Room 2</button>
        <button value="3" name="roomNum">Study Room 3</button>
        <button value="4" name="roomNum">Study Room 4</button>
        </form>

    </div>
</body>
</html>